.banner {
  border-radius: 25px;
  background-color: $gray-400;
  padding: 20px;
  width: 100%;
  height: auto;

  .banner__caption {
    max-width: 100%;
    overflow-wrap: anywhere;
    hyphens: manual;

    @media (min-width: 900px) {
      max-width: 90%;
    }
  }

  .banner__text {
    margin: 38px 0;
    @include font-normal-inter($font-size: 22px, $font-color: $gray-800);
    max-width: 100%;
    @media (min-width: 900px) {
      max-width: 70%;
    }
  }

  @media (min-width: 900px) {
    padding: 40px;
  }
  @media (min-width: 1200px) {
    padding: 53px 89px;
  }

}
