$gray-900:#110229;
$gray-900-opacity:rgba(57, 56, 96, 0.55);
$gray-800:#646464;
$gray-700:#8991A2;
$gray-600:#8F90A6;
$gray-500:#C5CDDF;
$gray-400:#F5F8FF;
$gray-100:#F0EEEE;



$blue:#0047FD;
$red:#FF0000;
$yellow:#FFC940;
$green:#42D0A6;

$white:#ffffff;
