.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 5px 0;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header { grid-area: header; }
