.field-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .field-filter__caption {
    @include font-normal-inter($font-size: 18px, $font-color: $gray-900);
    font-weight: 600;
  }

  &.filter-line-left {
    border-left: 2px $gray-300 solid;
  }

  &.filter-line-right {
    border-bottom: 2px $gray-300 solid;
    margin-bottom: 20px;
  }

  @media (min-width: 900px) {
    width: auto;
    &.filter-line-left {
      border-left: 2px $gray-300 solid;
    }
    &.filter-line-right {
      border-right: 2px $gray-300 solid;
      margin-bottom: 0;
      margin-right: 20px;
      border-bottom: 0;
    }
  }
}
