.field-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .field-filter__caption {
    @include font-normal-inter($font-size: 18px, $font-color: $gray-900);
    font-weight: 600;
  }

}
