.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logo__img {
    margin-right: 21px;
  }

  .logo__text {
    font-family: 'Montserrat Bold', sans-serif;
    font-weight: 900;
    color: $gray-500;
  }

  &.logo-size-md {
    .logo__text {
      font-size: 32px;
    }

    .logo__img {
      width: 63px;
      height: 63px;
    }
  }

  &.logo-size-sm {
    .logo__text {
      font-size: 29px;
    }

    .logo__img {
      width: 47px;
      height: 47px;
    }
  }
}
